<div class="grid-container">
  <mat-grid-list cols="2"
                 rowHeight="350px">
    <mat-grid-tile [colspan]="2"
                   [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h2>Page not found</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <mat-icon class="sad-icon">sentiment_very_dissatisfied</mat-icon>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>