<div class="grid-container">
  <h1>Readonly profile</h1>
  <mat-divider></mat-divider>
  <br>
  <img [src]="authService.user?.photoUrl"
       alt="profile_foto">
  <br>
  <br>
  <form [formGroup]="profile">
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput
             formControlName="firstName"
             readonly>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput
             formControlName="lastName"
             readonly>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput
             formControlName="email"
             readonly>
    </mat-form-field>
  </form>
</div>