<div class="grid-container">
  <h1 translate>READONLY_PROFILE</h1>
  <mat-divider></mat-divider>
  <br>
  <img [src]="photoUrl"
       alt="profile_foto"
       width="200">
  <br>
  <br>
  <form [formGroup]="profile">
    <mat-form-field appearance="outline">
      <mat-label translate>FIRST_NAME</mat-label>
      <input matInput
             formControlName="firstName"
             readonly>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label translate>LAST_NAME</mat-label>
      <input matInput
             formControlName="lastName"
             readonly>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label translate>EMAIL</mat-label>
      <input matInput
             formControlName="email"
             readonly>
    </mat-form-field>
  </form>
</div>