/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute !important;
  top: 15px !important;
  left: 15px !important;
  right: 15px !important;
  bottom: 15px !important;
}

.more-button {
  position: absolute !important;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.active {
  background-color: rgba(0,0,0,.2);
}

.pull-name-right {
  flex: auto;
  text-align: right;
}