<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               class="sidenav"
               fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <button type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="drawer.opened && !(isHandset$ | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      Logo
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item
         routerLink="/dashboard"
         routerLinkActive="active"
         *ngIf="isAuthenticated | async">
        <mat-icon>dashboard</mat-icon>&nbsp;Dashboard
      </a>
      <a mat-list-item
         routerLink="/profile"
         routerLinkActive="active"
         *ngIf="isAuthenticated | async">
        <mat-icon>face</mat-icon>&nbsp;Profile
      </a>
      <a mat-list-item
         routerLink="/login"
         routerLinkActive="active"
         *ngIf="!(isAuthenticated | async)">
        <mat-icon>login</mat-icon>&nbsp;Login
      </a>
      <a mat-list-item
         routerLink="/settings"
         routerLinkActive="active">
        <mat-icon>settings</mat-icon>&nbsp;Settings
      </a>
      <a mat-list-item
         (click)="logout()"
         *ngIf="isAuthenticated | async">
        <mat-icon>power_settings_new</mat-icon>&nbsp;Logout
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-progress-bar *ngIf="loader.value$ | async"
                      mode="indeterminate">
    </mat-progress-bar>
    <mat-toolbar color="primary">
      <ng-container *ngIf="(isHandset$ | async) || !drawer.opened">
        <button type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        Logo
      </ng-container>
      <span class="fill-remaining-space"></span>
      <span>{{name}}</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>